@using TiendaVirtualCore.Web.ViewModels.Categoria;
@model CategoriaEditVm
@{
    ViewData["Title"] = "Edit";
}

<form method="post"  asp-controller="Categoria" asp-action="Edit">
    <input type="hidden" asp-for="CategoriaId" />
    <input type="hidden" asp-for="RowVersion"/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Editar Categoría</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="NombreCategoria"></label>
            <input asp-for="NombreCategoria" class="form-control" />
            <span asp-validation-for="NombreCategoria" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" rows="4" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            Guardar
            </button>
        <a asp-controller="Categoria" asp-action="Index" style="width:150px" class="btn btn-success">
            Volver</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}