@using TiendaVirtualCore.Web.ViewModels.Ciudad;
@model CiudadEditVm
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-controller="Ciudad" asp-action="Edit">
    <input type="hidden" asp-for="RowVersion" />
    <input type="hidden" asp-for="CiudadId" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Editar Ciudad</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="NombreCiudad"></label>
            <input asp-for="NombreCiudad" class="form-control" />
            <span asp-validation-for="NombreCiudad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PaisId"></label>
            <select asp-for="PaisId" asp-items="@Model.Paises" class="form-select">
                <option disabled selected>-- Seleccionar País --</option>

            </select>
            <span asp-validation-for="PaisId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning" style="width:150px">
            Editar
        </button>
        <a asp-controller="Ciudad" asp-action="Index" style="width:150px" class="btn btn-success">
            Volver
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}